# Worldwide Cases - Trabalho Final - A80790

In [1]:
import sys
import os
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from qgis.core import *
from qgis.PyQt.QtGui import *
from qgis.PyQt.QtCore import *
from IPython.display import Image


import datetime

In [2]:
QgsApplication.setPrefixPath(r'C:\\OSGeo4W64\\apps\\qgis', True)
qgs = QgsApplication([], True)
qgs.initQgis()
sys.path.append(r'C:\OSGeo4W64\apps\qgis\python\plugins')
project = QgsProject.instance()

In [3]:
path = "ne_10m_admin_0_countries.shp"
map_layer = QgsVectorLayer(path, 'countries', 'ogr')

if not map_layer.isValid():
    print("Failed to load the layer!")
else:
    project.addMapLayer(map_layer)
    print("Sucess")

Sucess

In [17]:
csv_path = "file:transferir"
csv_layer = QgsVectorLayer(csv_path, 'Data', 'delimitedtext')

if not csv_layer.isValid():
    print('Layer failed to load!')
else:
    project.addMapLayer(csv_layer)
    print("Sucess")

Sucess

In [22]:
df = pd.read_csv("transferir")
df.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
0,10/05/2020,10,5,2020,255,6,Afghanistan,AF,AFG,37172386.0,Asia
1,09/05/2020,9,5,2020,215,3,Afghanistan,AF,AFG,37172386.0,Asia
2,08/05/2020,8,5,2020,171,2,Afghanistan,AF,AFG,37172386.0,Asia
3,07/05/2020,7,5,2020,168,9,Afghanistan,AF,AFG,37172386.0,Asia
4,06/05/2020,6,5,2020,330,5,Afghanistan,AF,AFG,37172386.0,Asia

In [23]:
df

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
0,10/05/2020,10,5,2020,255,6,Afghanistan,AF,AFG,37172386.0,Asia
1,09/05/2020,9,5,2020,215,3,Afghanistan,AF,AFG,37172386.0,Asia
2,08/05/2020,8,5,2020,171,2,Afghanistan,AF,AFG,37172386.0,Asia
3,07/05/2020,7,5,2020,168,9,Afghanistan,AF,AFG,37172386.0,Asia
4,06/05/2020,6,5,2020,330,5,Afghanistan,AF,AFG,37172386.0,Asia
...,...,...,...,...,...,...,...,...,...,...,...
16109,25/03/2020,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0,Africa
16110,24/03/2020,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14439018.0,Africa
16111,23/03/2020,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0,Africa
16112,22/03/2020,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0,Africa
16113,21/03/2020,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0,Africa